{% extends "base.html" %}

{% block nav %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    BismaCloud Storage
                </div>
                <div class="card-body">
                    <form class="user" method="POST">
                        {% csrf_token %}
                        {% if form.errors or error %}
                            <div class="alert alert-danger text-center">
                                Username password salah!.
                            </div>
                        {% endif %}
                    

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div> <!-- ./USER -->

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div> <!-- ./PASSWORD -->

                        <br>
    
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}