{% extends "base.html" %}
{% load static %}

{% block customStyles %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!----------------- Upload frame ------------------>
    <div id="upload-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="">
                                <input type="file" class="form-control" id="upload" name="document" placeholder="Upload">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="btn btn-primary" id="upload">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!----------------- ./Upload frame ----------------->

    <!--------------- New folder frame ----------------->
    <div id="new-folder-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buat folder baru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ new_folder_form.folder_name }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Buat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-------------- ./New folder frame ---------------->

    <!------------------ Delete frame ------------------>
    <div id="delete-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="filename" class="modal-header">
                </div>
                <form id="delete-form" method="post" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Hapus file/folder ini?</p>
                        {{ delete_form.delete }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Hapus</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!----------------- ./Delete frame ----------------->
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
              <h2 class="text-white pb-2 fw-bold"><i class="cil-cloud"></i> BismaCloud Storage</h2>
              <h5 class="text-white op-7 mb-2">/{{ user.get_username }}/{{ path }}</h5>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <a href="{% url 'logout' %}" class="btn btn-light btn-round"><i class="cil-account-logout"></i> Logout</a>
            </div>
          </div>
        </div>
    </div>
    {% if dir %}
        <div class="container mt--5">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-primary btn-round" data-toggle="modal" data-target="#upload-modal"><i class="cil-cloud-upload"></i> Upload file</button>
                    <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#new-folder-modal"><i class="cil-plus"></i> Buat folder</button>
                </div>
            </div>
            <div class="card mt--4">
                <div class="card-body">
                    {% if path != '.' %}
                    <a class="btn btn-outline-primary btn-round" href="?dir={{ path }}/.."><i class="cil-options-horizontal"></i></a>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Direktori
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for file in dir %}    
                                    <tr>
                                        <td class="text-dark" style="display: flex; justify-content: space-between;">
                                            <div>
                                                {% if file.is_dir %}
                                                    <a href="?dir={{ path }}/{{ file.name }}"><i class="cil-folder"></i> {{ file.name }}</a>
                                                {% elif file.is_file %}
                                                    <a href="{% url 'media' user.get_username|add:'/'|add:path|add:'/'|add:file.name %}" download="{{ file.name }}">
                                                        <i class="cil-file"></i> 
                                                        {{ file.name }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div>
                                            <a href="" class="text-danger" data-toggle="modal" data-target="#delete-modal" onclick="setFileName{{ forloop.counter }}()">Hapus</a>
                                            </div>
                                            <script>
                                                function setFileName{{ forloop.counter }}() {
                                                    document.getElementById("filename").innerHTML = "Delete {{ file.name }}?"
                                                    document.getElementById("delete-form").setAttribute("action", "?dir={{ path }}&&file={{ file.name }}")
                                                }
                                            </script>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="cil-storage"></i> {{ size }} telah digunakan
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-body container-fluid">
            <h2>Tidak ada di direktori ini</h2>
        </div>
    {% endif %}
{% endblock %}
