{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BismaCloud Storage{% endblock %}</title>

    <!-- Custom styles for all pages-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/atlantis.css' %}">
    <link rel="stylesheet" href="{% static 'css/free.min.css' %}">

    {% block customStyles %}{% endblock %}
</head>
<body>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center py-2">
                        &copy; 2020 <b>BismaCloud</b> Storage
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    {% block customScripts %}{% endblock %}
</body>
</html>